<ul>
  {% for item in include.nav %}

    {% if item.subnav %}
        {% assign classnames = "submenu" %}
    {% endif %}
    {% if page.url == item.url %}
        {% if classnames != "" %}
            {% assign classnames = classnames | concat: ", " %}
        {% endif %}
        {% assign classnames = classnames | concat: "current" %}
    {% endif %}

    <li class="{{ classnames | split:", " | join: " " }} ">
        {% assign tag_name = item.url? 'a': 'span' %}
        <{% tag_name %} href="{{ item.url }}">{{ item.title }}</{% tag_name %}>
        {% if item.subnav %}
            {% include recursive_nav.html nav=item.subnav %}
        {% endif %}
    </li>
  {% endfor %}
</ul>