<!DOCTYPE html>
<html lang="fr" >
{% include head.html %}
<body>
<a href="#sections" class="skip">Skip to main content</a>
{% include icons.html %}
{% include dialogs.html %}
<div class="container banner-intersecting inverted-top">
  <input id="toggler" type="checkbox" />
  {% include navigation.html %}
  <div class="wrapper">
    <div id="home"></div>
    <label class="toggler-wrapper" for="toggler"></label>
    <div class="mobile-navbar">
      <label class="toggler inverted" for="toggler">
        <span class="navicon"></span>
        <svg class="logo icon" width="18px" height="18px" aria-hidden="true">
          <use xlink:href="#logo_24dp"></use>
        </svg>
      </label>
      <span class="title hide-on-top"><a href="#home">{{ site.short_title }} <span class="display-none xs--display-inline">{{ site.baseline }}</span></a></span>
    </div>
    <div class="content">
      {% include homepage_banner.html %}
      <main role="main" id="sections" class="sections">
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
  </div>
  <div class="snackbar text-smaller" id="consent-info">
    <form method="dialog" onclick="event.stopPropagation()">
      <section class="content">
        <p>Le site <a href="/">novasante.ch</a> stocke uniquement les données nécessaires à son bon fonctionnement, ainsi qu'à la mesure de son audience. <a data-consent-action="show-preferences" href="#">Voir les paramètres</a></p>
      </section>
      <footer>
        <button data-consent-action="accept">OK</button>
      </footer>
    </form>
  </div>
</div>
{% include bottom_scripts.html %}
</body>
</html>
